@import url('style/main.css');

body {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

form {
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 4px solid var(--main-color);
}

h2 {
    margin-bottom: 5px;
}
input {
    padding: 8px 0 8px 5px;
    margin-bottom: 10px;
    border: 10px;
    background: rgb(203, 200, 200);
}

button {
    width: 40%;
    padding: 8px 0 8px 0;
}

input,button {
    border-radius: 5px;
}